{% render 'partials/head.liquid' %}

<article>
  <h1>scroll sideways</h1>

  <section class="front">
    <h2>2026 PROFILE CARD</h2>

    <div class="front-photo"></div>
    <ul>
      <li>
        <label>[Name]</label>
        {{person.name}}
      </li>
      <li>
        <label>[Born]</label>
        {{person.birthdate}}
      </li>
      <li>
        <label>[Length]</label>
        {{custom.length}}cm
      </li>
      <li>
        <label>[Based in]</label>
        {{custom.based}}
      </li>
      <li>
        <label>[Studying at]</label>
        {{custom.studying}}
      </li>
    </ul>
  </section>

  <section class="back">
    <h3>YB</h3>
    
    <img class="back-photo" src="/assets/schoolfotoYN.png" alt="oude foto van Seb" width="200">
  </section>
</article>
{% render 'partials/foot.liquid' %}
