{% render 'partials/head.liquid' %}

  <section>
    <h1>2026 PROFILE CARD</h1>

    <img class="front-photo" src="/assets/mugshot-za.png" alt="pasfoto Seb" width="240">
    
    <ul>
      <li>
        <label>[Name]</label>
        {{person.name}}
      </li>
      <li>
        <label>[Born]</label>
        {{person.birthdate}}
      </li>
      <li>
        <label>[Length]</label>
        {{person.length}}cm
      </li>
      <li>
        <label>[Based in]</label>
        {{person.based}}
      </li>
      <li>
        <label>[Studying at]</label>
        {{person.studying}}
      </li>
    </ul>

    {% comment %} <img class="back-photo" src="/assets/schoolfotoYN.png" alt="oude foto van Seb" width="200"> {% endcomment %}
  </section>
{% render 'partials/foot.liquid' %}
